#gform_wrapper_8 {
    margin-top: 0;
}
.gform_legacy_markup_wrapper .gsection {
    border-bottom: none !important;
}
body #gform_wrapper_8 ul li.gfield {
    margin-top: 0 !important;
}
#gform_8 .gfield_required {
    display: none !important;
}
#gform_8 label {
    color: #fff;
}
#gform_8 .gform_body .gform_fields li:not(.gchoice) label.gfield_label,
.form-question-label
{
    font-weight: 500 !important;
    font-size: 1.3rem;
    line-height: 1.2;
    border-bottom: none;
    color: #fff !important;
    font-family: 'Roboto';
    margin-bottom: 0 !important;

}
#gform_8 .gform_body .gform_fields li.gfield div.gfield_description {
    font-style: italic;
    color: #fff;
    margin-bottom: 1rem;
}
#gform_8 .gform_body .gform_fields .gfield-choice-input {
    margin-top: 0;
    margin-right: 5px;
}
#gform_8 .gform_body .gform_fields .gfield:first-of-type .ginput_container ul.gfield_checkbox li.gchoice:first-of-type {
    width: 100% !important;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px dotted #ddd;
    display: inline-block;
}
#gform_8 .gform_body .gform_fields .gfield:first-of-type .ginput_container ul.gfield_checkbox li.gchoice:not(:first-of-type),
#gform_8 .gform_body .gform_fields .gfield:not(:first-of-type) .ginput_container ul.gfield_checkbox li.gchoice
{
    margin: 3px 0;
}
body .gform_body .gform_fields li.gfield select.large {
    width: 100% !important;
}
#gform_8 .gform_body .gform_fields li.when-choice ul.gfield_radio > li:first-of-type {
    margin-bottom: 0;
}
/*region Global */
ul.flush {
    padding-inline-start: 0;
}
.fw-500 {
    font-weight: 500 !important;
}
.site-header .row .site-branding .custom-logo-link.svg-logo {
    width: 115px;
}
#sticky-footer {
    z-index: 10030;
}
.b-none {
    border: none !important;
}
.border-top-rounded {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.morecontent > span {
    display: none;
}
.morelink {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    color: #ececec;
}

.morelink:after {
    content: '';
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: 6px;
    margin-left: 10px;
    border: 1px solid #ececec;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
    transform-origin: bottom;
}

.morelink.less:after {
    margin-left: 7px;
    transform: rotate(135deg);
}
footer.site-footer .row section {
    display: block;
    width: inherit !important;
}
footer.site-footer .row section h2 {
    font-size: 1.5rem;
}
footer.site-footer .row section h2:after {
    background: #1c75b5;
    width: 70px;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0%;
    height: 5px;
}
.no-border {
    border: none !important;
}
/*endregion*/
/*region Template: Top */
.feature-cards {
    min-height: 650px;
}
.custom-content .feature-cards p {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
}
.panel-copy-container {
   background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.9) 100%);
}
/*endregion*/
/*region Temp */
.header-cta {
    display: none;
}
.transform-2 {
    transform: rotate(2deg);
}
.transform-358 {
    transform: rotate(-2deg);
}
.transform-347 {
    transform: rotate(347deg);
}
.transform-13 {
    transform: rotate(13deg);
}
/*endregion*/
/*region Containers */
.container-fluid .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.content-section {
    margin: 0;
    padding: 2rem 0;
}
.section-heading p {
    color: #222;
}
/*endregion*/
/*region Cards / Icons */
.mobile-card-header-images {
    object-fit: cover;
    object-position: center;
    max-height: 150px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.background-icon {
    z-index: 1;
    color: #e5e5e5;
}
.background-icon + div {
    z-index: 2;
}
.quote-icon {
    border-radius: 10000px;
    background: #fff;
    border-color: #fff;
}
/*endregion*/
/*region Colors */
.bg-opacity-linear-up {
    background: linear-gradient(
        0deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.1) 15%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.5) 100%);
}
.text-seccondary-500 {
    color: #e07d26;
}
.bt-blue {
    border-top: #176fb8 6px solid;
}
.bt-blue-light, .bt-light-blue {
    border-top: #5E9CCF 6px solid;
}
.bt-orange {
    border-top: 6px solid #e07d26;
}
.text-brand-500 {
    color: rgb(25, 95, 164);
}
.text-brand-500-light, .text-light-blue {
    color: #5E9CCF;
}
.bg-blue-light {
    background-color: rgba(166, 211, 255, .15) !important;
}
.bg-blue-lightest {
    background-color: #dbeafe;
}
.bg-cta {
    background-color: #cce2ff;
}
.bg-orange {
    border-color: #ee7624;
}
.bg-blue {
    background-color: rgba(25, 95, 164, 1);
}
.bg-blue-dark {
    background-color: #176fb8 !important;
}
.bg-blue-darkest {
    background-color: #11253e !important;
}
/*endregion*/
/*region Text */
.custom-content h1,.custom-content h2,.custom-content h3,.custom-content h4,.custom-content h5,.custom-content h6 {
    font-family: "Roboto", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}
.custom-content p {
    font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.25;
    color: #222;
    font-weight: bold;
}
.roboto {
    font-family: "Roboto", sans-serif !Important;
}
.letter-tight, .text-tight {
    letter-spacing: -.025rem;
}
.text-sm {
    font-size: .875rem !important;
}
.text-1 {
    font-size: 1rem !important;
}
.letter-wide, .text-wide {
    letter-spacing: .225rem;
}
.letter-wide-medium, .text-wide-medium {
    letter-spacing: .125rem;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-900 {
    font-weight: 900 !important;
}

.custom-content .heading-font {
    font-family: "Roboto", sans-serif !important;
}
.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white h6, .text-white p {
    color: #fff !important;
}
.custom-content p {
    font-size: 1.15rem;
    color: #333;
    line-height: 1.4;
}
.custom-content p, .custom-content p.lead {
    font-weight: 400;
}
p.condensed {
    line-height: 1.2;
}
h1:after, h2:after, h3:after {
    content: none !important;
}
/*endregion*/
/*region Buttons / Links */
a {
    text-decoration: none;
}
.cta-btn {
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: normal;
    text-transform: none;
    background: #e07d26;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #C3550B;
    border-radius: 5px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.modal-cta:not(.disabled) {
    filter: drop-shadow(rgb(255,255,255) 2px 2px 35px);
}
.modal-cta, .modal-cta:disabled {
    border-radius: 3px !important;
    border: none;
    color: rgba(255,255,255,1);
    background: #ee7624;
    text-decoration: none;
    padding: .65rem 1.25rem;
    box-shadow: rgb(0 0 0 / 25%) 2px 5px 5px 0px;
}
.modal-cta:hover {
    color: rgba(255,255,255,1);
    box-shadow: 0 5px 15px rgba(238, 118, 36, .4);
    background: #e07d26;
    color: #fff;
}
.cta-btn, .cta-btn:visited {
    color: #fff;
}
.cta-btn:hover {
    color: #fff;
    background: #ee7624;
    text-decoration: none;
    box-shadow: none !important;
}
body .btn:not(.modal-btn) {
    font-size: 1rem;
    font-weight: bold;
}
.btn.btn-orange, .btn.btn-orange:visited {
    background-color: #ee7624;
    color: #f9f9f9;
    border: none;
    outline: none;
}
.btn.btn-orange:hover, .btn.btn-orange:focus,.btn.btn-orange:active {
    background-color: #FF6E0B;
    color: #fff;
    outline: none;
}
.btn.shadow {
    box-shadow: 0 10px 15px -5px rgb(0 0 0 / 20%);
}
.btn.shadow-dark {
    box-shadow: 0 10px 15px -5px rgb(0 0 0 / 40%);
}
.btn.shadow:hover, .btn.shadow-dark:hover {
    box-shadow: none;
}
/*endregion*/
/*region Hero's / Banners / Images */
.background-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.object-fit {
    object-fit: cover;
    object-position: center;
}
.jumbotron.hero, .background-image-container {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron.hero.align-top {
    background-position: top;
}
.jumbotron.hero h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #333 !important;
}
.jumbotron.hero p {
    letter-spacing: -.025rem;
}
.bg-opacity-white-light {
    background: rgba(255,255,255,.96);
}
.bg-opacity-white-dark {
    background: rgba(255,255,255,.98);
}
/*endregion*/

/*region Media Queries (Medium) */
@media (max-width: 768px) {
    /* Global */
    .custom-content p {
        line-height: 1.3;
    }
    .custom-content p.lead {
        font-size: 1.3rem;
    }
    .custom-content h2 + p.lead {
        font-size: 1.3rem !Important;
        line-height: 1.3 !important;
    }
    .cta-btn {
        font-size: 1.3rem;
        padding: 0.35em 1.75em 0.5em;
    }
    .site-header .row .site-branding .custom-logo-link.svg-logo {
        top: -17px;
    }
    #sticky-footer {
        padding-bottom: 1.25rem !important;
    }
    .content-section {
        margin:  0;
        padding: 2.5rem 1rem;
    }
    h1,h2,h3,h4,h5,h6 {
        line-height: 1.2;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    .section-heading {
        margin-bottom: .5rem;
    }
    .cta-btn {
        padding-top: .45em;
        font-size: 1em;
        padding-left: inherit;
        padding-right: inherit;
        display: block;
    }
    /* Modal */
    #modalppc .modal-body {
        position: relative;
        bottom: 2.25rem;
    }
    /* Hero */
    .jumbotron.hero h1 {
        font-size: 3rem;
    }
    /* Template: Flexible */
    #flexible-page .features .row .col-md-4:nth-of-type(2) {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

@media (max-width: 576px) {
    /* Global */
    header .phone-cta {
        display: none;
    }
    .site-header .row .site-branding .custom-logo-link.svg-logo {
        top: 10px;
    }
    .shadow-mobile {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    /* Hero */
    .jumbotron {
        /*min-height: 665px;*/
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .jumbotron.hero h1 {
        font-size: 2.5rem;
        line-height: 1;
    }
    .jumbotron.hero span.script {
        font-size: 3rem;
    }
    .jumbotron.hero h1 + p {
        font-weight: 600;
        font-size: 1.3rem !important;
        color: #444 !important;
    }
    /* timeline */
    .ex_s_lick-active .day-description {
        width: 130%;
        position: relative;
        right: 16%;
        font-size: 1rem !important;
    }

}
/****************************************
*** MEDIA QUERIES - MINIMUMS ***
*****************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Gravity Forms */
    #gform_8 .gform_body .gform_fields .gfield .ginput_container ul.gfield_checkbox li.gchoice label,
    #gform_8 .gform_body .gform_fields .gfield .ginput_container ul.gfield_radio li.gchoice label
    {
        font-size: 1.3rem;
    }
    /* Template: Flexible */
    #flexible-page .features .row .col-md-4:nth-of-type(2) {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    /* Hero */
    .cta-btn {
        padding: .7rem 1.5rem;
        font-size: 1.25rem;
    }
    /* Global */
    .section-heading {
        margin-bottom: 1.5rem;
    }
    /* Template: Top Page */
    .cta-footer-phone {
        position: relative;
        top: 3px;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .custom-content h1 {
        font-size: 3rem;
    }
    .custom-content h2 {
        font-size: 2.5rem;
    }
    .custom-content h3 {
        font-size: 1.55rem;
    }
    .custom-content h4 {
        font-size: 1.3rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Global */
    .custom-content h1 {
        font-size: 3rem;
    }
    .custom-content h2 {
        font-size: 3rem;
    }
    .custom-content h3 {
        font-size: 1.55rem;
    }
    .custom-content h4 {
        font-size: 1.3rem;
    }
    .custom-content p.icons-first, .custom-content p.icons-first + p {
        font-size: 1.5rem;
    }
    .custom-content p.icons-first + p {
        font-weight: 300 !important;
    }
    .icon-container i {
        font-size: 2em;
    }
}
/*endregion*/