/* Custom font classes */
.font-heading {
    font-family: "Merriweather", serif !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Merriweather", serif !important;
    font-optical-sizing: auto;
    font-weight: unset !important;
    letter-spacing: -.025rem !important;
}

body,
.font-base {
    /*    font-family: "Geist", sans-serif !important;*/
    /*    font-family: "open-sans", sans-serif !important;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.stylized {
    font-family: "relation-two", cursive !important;
    font-size: 120%;
    letter-spacing: .025rem;
}